@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto:wght@400;500;700;800&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  outline: none;
}
.App {
  text-align: center;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: tomato;
  flex: 100%;
}

.showCount {
  flex: 20%;
  padding: 20px;
  color: #fff;
  margin: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 3px 2px 5px grey;
  background: #31db56;
  width: 50%;
}

.showCount h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 1px 1px 5px #c202e5;
}
.showBnt {
  flex: 80%;
  padding: 20px;
}
.showBnt button {
  width: 200px;
  font-size: 60px;
  margin: 10px;
  border: none;
  background: #d50ced;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  box-shadow: 1px 1px 5px #000;
  text-shadow: 1px 1px 3px #000;
}
